<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        ((URY)) | Roses 2023 {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css?t=2018">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
        body {
            background: url("/static/custom/bg-roses-1.jpg") center center no-repeat;
        }
    </style>
</head>

<body class="full-player">

    <nav class="navbar navbar-toggleable bg-faded navbar-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="https://ury.org.uk" alt="URY Homepage">
            <img src="/static/logo-homepage.png" height="34" alt="((URY)) Player Logo">
        </a>
        <!-- <span class="navbar-brand divider"></span> -->
        <a class="navbar-brand" href="/" alt="((URY)) Player">
            <img src="/static/logo-player.png" height="34" alt="((URY)) Player Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="my-2 my-lg-0">
                <div id="navbar-slogan">On Air | <strong>Online</strong> | On Tap</div>
            </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="container-fluid footer">
        <div class="navbar-left">
            <a href="https://facebook.com/URY1350" target="_blank">
                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/URY1350" target="_blank">
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://youtube.com/c/URY1350" target="_blank">
                <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://mixcloud.com/URY1350" target="_blank">
                <i class="fa fa-mixcloud fa-2x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="navbar-right">
            <p>Copyright &copy; 1967-2023 <a href="https://ury.org.uk" target="_blank">University Radio York</a> | Designed by the <a href="mailto:webmaster@ury.org.uk" title="Click to email the Computing team.">URY Computing Team</a> | <a href="https://www.york.ac.uk/docs/disclaimer/disclaimer.htm"
                    target="_blank">Disclaimer</a></p>
        </div>
    </footer>
</body>

</html>